
.cardList {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;

}

.singleCard {
  display: grid;
  grid-template-rows: 80%, 10%;
  border-style: hidden;
  border-width: 1px;
  border-color:lightgray;
  margin: 20px;
  box-shadow: 0px 1px 0px gray;
  border-radius: 5px;
}


.mainPicture {
  max-width: 100%;
  max-height: 100%;
}

.bottomOfCard {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: end;
}

.trainerPicture {
  margin-top: 5px;
}
.description {
  justify-self: self-start;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
